* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, sans-serif;
}
body {
 background: #0b0b0b;
 color: #fff;
}

/* NAVBAR */
.navbar {
 display: flex;
 justify-content: space-between;
 padding: 20px 60px;
 align-items: center;
}
.navbar nav {
  border: 1px solid #222;
  border-radius: 8px;
  background-color: #222;
  border: 0.5px solid white;
  padding: 10px 20px;
}

.navbar nav a {
 margin: 0 15px;
 color: #ccc;
 text-decoration: none;
 font-weight: bolder;
 border-bottom: 1px solid white;
}
.hero-img img{
    border-radius: 2000px;
}

.logo {
 background: #222;
 padding: 10px;
 border: 2px solid white;
 border-radius: 20px;
 font-weight: 700;
 box-shadow: 0 0 5px white,
             0 0 10px white;
}

.btn {
 background: #222;
 border: none;
 padding: 10px 20px;
 color: #fff;
 border-radius: 10px;
 cursor: pointer;
 font-weight: 700;
 border: 1px solid white;
 box-shadow: 0 0 5px white,
             0 0 10px white;
}

/* HERO */
.hero {
 display: flex;
 justify-content: space-between;
 padding: 80px 60px;
 align-items: center;
}

.hero-text h1 {
 font-size: 48px;
 margin: 10px 0;
}

.hero-text .desc {
 color: #aaa;
 margin: 20px 0;
 max-width: 400px;
}

.hero-img img {
 width: 300px;
}

/* SECTIONS */
section {
 padding: 60px;
 text-align: center;
}

.sub {
 color: #aaa;
 margin-bottom: 30px;
}

/* CARDS */
.cards {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 20px;
}

.card {
 background: #111;
 padding: 20px;
 border-radius:12px;
 
}

/* ABOUT */
.stats {
 display: flex;
 justify-content: center;
 margin-top: 30px;
 gap: 50px;
}

.stats h3 {
 font-size: 28px;
}

/* RESPONSIVE */
@media(max-width: 900px) {
 .hero {
 flex-direction: column;
 text-align: center;
 }

 .cards {
 grid-template-columns: 1fr 1fr;
 }
}

@media(max-width: 500px) {
 .cards {
 grid-template-columns: 1fr;
 }
}
.skills div p {
  display: inline-block;
  align-items: center;
  padding: 2%;
  margin: 2%;
}
